.btn-sm {
  font-size: 12px;
}

.main {
  --bs-bg-opacity: .75;
}

.comment {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: pre-wrap;
  word-break: break-word;

  &__name {
    font-size: 12px;
  }
}
